/*Estilização do Header*/
nav {
    padding: 0.6rem 0rem 0.6rem 0rem;
    background-color: black;
}

.wrap {
    margin: 0rem 8rem 0rem 8rem;
}

.itens-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Estilização dos Botões*/
.btn-primary-small {
    padding: 0.8rem;
    background-color: #4ecdc4;
    border: 0;
    border-radius: 3px;
    font-weight: 400;
}

.btn-outline-small {
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background: none;
    font-weight: 500;
}

.btn-outline-small {
    margin-left: 0.8rem;
}

/*Estilização da main*/
main {
    height: 40rem;
    background-image: linear-gradient(to right,rgba(0,0,0,1), rgba(0,0,0,0)), url(../assets/05-the-100-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.wrap-main {
    padding-top: 12rem;
}
